.podcast-container {
    text-align: center;
    width: 40%;

    a {
        text-decoration: none;
        
    }

    .podcast-title {
        font-family: 'Fira Code';
        text-decoration: none;
        color: #00A36C;    
        font-size: 25px;
    
    }

    .podcast-emoji {
        margin: 30px 0;
        font-size: 30px;
    }

    .podcast-description {
        font-family: 'Dina';
        margin-bottom: 30px;
    }

    



}

