* {
    background-color: #fffae1;
}
.nav-bar {
    height: 40px;
    width: 100%;
    margin-top: 40px;
    display: flex;
    justify-content: space-between;
    
    

    nav {
        display: flex;
        justify-content: flex-end;
        margin-right: 60px;
        column-gap: 30px;
    
        a {
            text-decoration: none;
            font-family: 'Fira Code', 'anonymous_proregular';
            color: #00A36C;
        }
    }
    a {
        text-decoration: none;
        
        .hiero-icon {
        margin-top: 0px;
        text-align: center;
        line-height: 20px;
        margin-left: 80px;
        font-size: 60px;
        color: #00A36C;  


        }
    }

}



